$color-primary-dark: hsl(243, 87%, 12%);
$color-primary-desaturated: hsl(238, 22%, 44%);

$color-accent-blue: hsl(224, 93%, 58%);
$color-accent-cyan: hsl(170, 45%, 43%);

$color-neutral-white: hsl(240, 75%, 98%);
$color-neutral-gray: hsl(0, 0%, 75%);

$font-headings: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

html {
    font-weight: 600;
}

body {
    padding: 100px;
    font-family: $font-body;
    font-weight: 400;
    width: 1440px;
    width: auto;
}

.barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}